@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
/* fonts 
for paragraphs: font-family: 'Nunito', sans-serif;
for headings: font-family: 'Ubuntu', sans-serif; */

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#nav-menu {
    font-size: 110%; /*to standout on header*/
    letter-spacing: 4px; /* 4px to keep consistent with logos and headings*/
}

#nav-menu li {
    float: right; /*float listed menu items to the top right corner*/ /* causes reverse order, see 'ffwing notes' */
    list-style-type: none; /*get rid of bullet points*/
    margin-right: 30px; /*give each link item some space*/
    /*ffwing note: display: flex;  listed items in display order to avoid this using this as per point in html file
    flex-direction: row-reverse; */
}