@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
   /* list-style-type: none; /* get rid of bullet points, apply globally, didn't work */
}
/* fonts 
for paragraphs: font-family: 'Nunito', sans-serif;
for headings: font-family: 'Ubuntu', sans-serif; */

/*headings and logo*/
h1, h2 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px; /* push logo slightly away from edge of the page */
}

/* navigation links */

#nav-menu {
    font-size: 110%; /*to standout on header*/
    letter-spacing: 4px; /* 4px to keep consistent with logos and headings*/
}

#nav-menu, #logo {
    line-height: 75px; /*horizontally balance the design of the logo and nav menu items" */
}

#nav-menu li {
    float: right; /*float listed menu items to the top right corner*/ /* causes reverse order, see 'ffwing notes' */
    list-style-type: none; /*get rid of bullet points*/
    margin-right: 30px; /*give each link item some space*/
    /*ffwing note: display: flex;  listed items in display order to avoid this using this as per point in html file
    flex-direction: row-reverse; */
}

#nav-menu a { /*style nav items to remove underline and also inherit the font colour of body element*/
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 1px solid #3a3a3a; /* provide user with visual clues to what link they are about to clickk on */
}

.active {
    border-bottom: 1px solid #3a3a3a; /* visual clue for user to know the page they are currently on */ 
}

/* hero image and cover text */

#hero-outer { /* creates space btw header and hero img*/
    height: 600px;
    width: 100%;
    overflow: hidden; /* hides the size increase whilst doing zoom animation */
    position: relative; /* keeps cover text div position absolute */
}

#cover-text, #cover-text h2 {
    color: rgb(28, 12, 167);
}

#hero-img {
    height: 600px; /* think I need the img to be full-sized on the pg, height of img is 2000px --maybe or not */
    width: 100%;
    background: url("../images/hero-img.jpg") no-repeat center center;
    
    /* runs animation effect when hero-img style rule is applied, i.e. upon browser rendering page*/
    animation-name: hero-zoom; /* animation name = value of animation name property */
    animation-duration: 10s; /* take 3mins for image to scale up by 12% */
    animation-fill-mode: forwards; /* retain state of animation at last keyframe which is 112%, 
    hence animation zooms in and stays there at that size*/
}

/* create level of zoom animation for hero img*/
@keyframes hero-zoom {
    from { /* initial state of animation */
        transform: scale(1); /* set image to 100% of normal size*/

    }
    to { /* final state of animation */
        transform: scale(1.12); /* set image to 112% of original size, giving it a 12% increase*/
    }
}

#cover-text {
    font-size: 50%;
    font-family: 'Ubuntu', sans-serif; /* consistent with overall heading font */
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 40px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(131, 175, 241, 0.205); /* opacity value assigned to allow hero image to seep through */

    /* fixed position relative to parent container */
    bottom: 20px; 
    right: 150px;

    position: absolute; /* to fix it in place relative to the container */
}

/* about section */
#about {
    height: 600px; /* consistent with hero img */
}

#living {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

/* using tabbed layout, this is for the container div 
#left-tab {
    padding-top: 10px;
    width: 50%;
    float: left;
    background-color: lightblue;
}

#right-tab {
    padding-top: 10px;
    width: 50%;
    float: right;
    background-color: silver;
}  */

/*
#center-tab {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto; /* to center the div 
    background-color: green;
} */

/* unordered list */
ul {
    list-style-type: none; /* move this to body selector, did but not globally applied */
}

/* horizontal line under heading, need to alighn with text tried span
hr {
    border: 1px solid #3a3a3a;
}  */

/*below seems to mess up layout
/* style buttons and tab content, code from W3Schoools
/* Style the tab
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
    
  /* Style the buttons that are used to open the tab content
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }  */

  /* using tabbed layout, this is for the content div, as above as per container div

  .left-tabcontent {
      width: 60%;
      /*float: right; 
      margin-left: 30px; /* use this instead of float right in the snippet cos img should cover text when not in focus 
      line-height: 20px;
  }

  .right-tabcontent {
    width: 70%; /* 70% so can accomodate the heading text
    /*float: left; 
    margin-left: 30px; /* use this instead of float right in the snippet cos img should cover text when not in focus 
    line-height: 20px;
}   */

/* Style the left button that are used to open and close the accordion panel, if splitting horizontally */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    width: 45%;
  }

  /* img not loading */
  #sun-plant {
    height: fit-content; /* think I need the img to be full-sized on the pg, height of img is 2000px --maybe or not */
    /*width: 20%; */
    background: url("../images/sun-plant.jpg") no-repeat center center;
}